<!-- Begin footer -->
<footer class="start_page-footer">
    <div class="footer__top" data-aos="fade">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-2 align-self-center">
                    <div class="footer__col">
                        <img class="footer__logo" src="./assets/img/footer-logo@2x.png" alt="alt">
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-xl-2">
                    <div class="footer__col">
                        <p class="footer__name">About us</p>
                        <a href="#meet-team" class="footer__link">Presentation</a>
                        <a href="#numbers-dont-lie" class="footer__link">Numbers don’t lie</a>
                        <a href="#meet-team" class="footer__link">Our team</a>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-xl-2">
                    <div class="footer__col">
                        <p class="footer__name">Contact</p>
                        <a href="mailto:info@whatshere.io" class="footer__link">Work with us</a>
                        <!--<a href="#" class="footer__link">Other inquiries</a>-->
                        <a href="#donate-section" class="footer__link">Donate</a>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="footer__col">
                        <p class="footer__name">Legal</p>
                        <a href="https://whatshere.io/privacy.html" class="footer__link">Privacy</a>
                        <!--<a href="https://whatshere.io/termsconditions.html" class="footer__link">Terms and conditions</a>-->
                        <a href="./../../assets/Impressum.docx" target="_blank" class="footer__link">Impressum</a>
                    </div>
                </div>
                <div class="col-12 col-xl-3 align-self-center">
                    <div class="footer__note">
                        <p class="footer__note-text">Find out any information about your location!</p>
                        <a href="#" class="btn footer__btn">
                            <span class="btn__name">Explore new places</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="copyright">Copyright &copy; 2019 Whatshere.io. All rights reserved. With support of © OpenStreetMap contributors.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End footer -->
